<!-- BEGIN HEADER INNER -->
<style type="text/css">
    .page-header.navbar .page-logo {
        width: 500px;
    }

    .page-header.navbar .page-logo span.brand{
        display:inline-block;
        color: #cfdae1 !important;
        font-family: 'Mini Jian Lingxin', Mini-Jian-Lingxin;
        font-size: 28px;
        letter-spacing: 3px;
        /*margin-top: 8px;*/
        /*margin-left: 12px;*/
        font-weight: 600;
        line-height: 48px;
    }

</style>

<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#">
            <img ng-show="!currentUser.Organization.ShowBrand"
                 ng-src="{{settings.layoutPath}}/img/logo/light.png"
                 style="margin-top: 0px;"
                 class="logo-default" />
            <span ng-show="currentUser.Organization.ShowBrand"
                  class="brand">{{ currentUser.Organization.BrandName }}</span>
        </a>
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        <!--<div class="menu-toggler sidebar-toggler"></div>-->
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <!--
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>
    -->
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    <span class="badge badge-danger"> 12 </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>
                            <span class="bold">12 待处理</span> 预警</h3>
                        <a href="#/profile/dashboard">查看全部</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                            <li>
                                <a href="javascript:;">
                                    <span class="time">刚刚</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-success">
                                            <i class="fa fa-plus"></i>
                                        </span> 新的锅炉接入 待调试. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">3 分钟前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-danger">
                                            <i class="fa fa-bolt"></i>
                                        </span> 杭州运东建材锅炉#2 异常停机. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">10 分钟前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-warning">
                                            <i class="fa fa-bell-o"></i>
                                        </span> 杭州祖名锅炉#2 过量空气系数过高. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">14 小时前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-info">
                                            <i class="fa fa-bullhorn"></i>
                                        </span> 杭州知味观锅炉 发送了一个检修请求. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">2 天前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-danger">
                                            <i class="fa fa-bolt"></i>
                                        </span> 杭州祖名锅炉#1 压力过载 68%. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">3 天前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-danger">
                                            <i class="fa fa-bolt"></i>
                                        </span> 未收到 杭州运东建材锅炉#2 心跳信息. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">4 天前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-warning">
                                            <i class="fa fa-bell-o"></i>
                                        </span> 宁波东区上传报文格式异常. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">5 天前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-info">
                                            <i class="fa fa-bullhorn"></i>
                                        </span> 系统自检完成. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">9 天前</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon label-danger">
                                            <i class="fa fa-bolt"></i>
                                        </span> 存储服务发送一条错误信息. </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN INBOX DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--
            <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-envelope-open"></i>
                    <span class="badge badge-default"> 5 </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>你有
                            <span class="bold">5 </span>条新信息</h3>
                        <a href="#/profile/dashboard">查看全部</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                            <li>
                                <a href="#/profile/dashboard">
                                    <span class="photo">
                                        <img src="{{settings.layoutPath}}/img/avatar2.jpg" class="img-circle" alt=""> </span>
                                    <span class="subject">
                                        <span class="from"> 王丹（用能） </span>
                                        <span class="time">刚刚 </span>
                                    </span>
                                    <span class="message"> 我们这边已经可以正常查看锅炉的运行数据了，和实地显示的数据一致，谢谢。 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/profile/dashboard">
                                    <span class="photo">
                                        <img src="{{settings.layoutPath}}/img/avatar3.jpg" class="img-circle" alt=""> </span>
                                    <span class="subject">
                                        <span class="from"> 唐艾（客服） </span>
                                        <span class="time">16 分钟前 </span>
                                    </span>
                                    <span class="message"> 好的，刚刚客户说那边的数据连接应该已经恢复了。 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/profile/dashboard">
                                    <span class="photo">
                                        <img src="{{settings.layoutPath}}/img/avatar1.jpg" class="img-circle" alt=""> </span>
                                    <span class="subject">
                                        <span class="from"> 陈超（工程师） </span>
                                        <span class="time">1 小时前 </span>
                                    </span>
                                    <span class="message"> 处理好了，是数据连接有延迟，客户在平台上看到的是15分钟前的数据，已经修复了。 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/profile/dashboard">
                                    <span class="photo">
                                        <img src="{{settings.layoutPath}}/img/avatar2.jpg" class="img-circle" alt=""> </span>
                                    <span class="subject">
                                        <span class="from"> 王丹（用能） </span>
                                        <span class="time">1 小时 26 分钟前 </span>
                                    </span>
                                    <span class="message"> 从今天上午开始我们这边的数据大概和实地监测相比有20%左右的误差，请帮我们检查一下。 </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/profile/dashboard">
                                    <span class="photo">
                                        <img src="{{settings.layoutPath}}/img/avatar3.jpg" class="img-circle" alt=""> </span>
                                    <span class="subject">
                                        <span class="from"> 唐艾（客服） </span>
                                        <span class="time">2 小时前 </span>
                                    </span>
                                    <span class="message"> 客户那边报告说他们厂今天的锅炉数据不太正常，请检查一下。 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
            <!-- END INBOX DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--
            <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-calendar"></i>
                    <span class="badge badge-default"> 7 </span>
                </a>
                <ul class="dropdown-menu extended tasks">
                    <li class="external">
                        <h3>你有
                            <span class="bold">7 </span> 个待办任务</h3>
                        <a href="#/todo">查看全部</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">平台新版本发布 v1.2 </span>
                                        <span class="percent">40%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">40% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">新应用接入</span>
                                        <span class="percent">65%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">65% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">微信应用发布</span>
                                        <span class="percent">98%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">98% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">数据库合并</span>
                                        <span class="percent">10%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">10% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">Web服务器升级</span>
                                        <span class="percent">58%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">58% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">新的锅炉终端支持接口</span>
                                        <span class="percent">85%</span>
                                    </span>
                                    <span class="progress">
                                        <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">85% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="task">
                                        <span class="desc">新UI发布</span>
                                        <span class="percent">38%</span>
                                    </span>
                                    <span class="progress progress-striped">
                                        <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                                            <span class="sr-only">38% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
            <!-- END TODO DROPDOWN -->
            <!-- BEGIN LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--
            <li class="dropdown dropdown-language hide">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" src="../assets/global/img/flags/us.png">
                    <span class="langname"> EN </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li class="active">
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/us.png"> English </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/de.png"> German </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/ru.png"> Russian </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/fr.png"> French </a>
                    </li>
                </ul>
            </li>
            -->
            <!-- END LANGUAGE BAR -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle"
                         ng-src="{{header.picture}}" />
                    <span class="username username-hide-on-mobile"> {{ header.loginName }} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ui-sref="profile.account">
                            <i class="icon-user"></i> 个人信息 </a>
                    </li>
                    <!--
                    <li>
                        <a href="#">
                            <i class="icon-calendar"></i> 我的日程 </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-envelope-open"></i> 我的消息
                            <span class="badge badge-danger"> 3 </span>
                        </a>
                    </li>
                    <li>
                        <a href="#/todo">
                            <i class="icon-rocket"></i> 我的任务
                            <span class="badge badge-success"> 7 </span>
                        </a>
                    </li>
                    -->
                    <li class="divider"> </li>
                    <!--
                    <li>
                        <a href="#">
                            <i class="icon-lock"></i> 锁定屏幕 </a>
                    </li>
                    -->
                    <li>
                        <a ng-click="header.logout()" href="#">
                            <i class="icon-key"></i> 登出 </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
            -->
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->