<style>
    .portlet{
        margin-bottom: 0px;
    }
    .table td{
        white-space: nowrap;
        font-size: 13px;
    }
    .label-warning{
        background-color: #f0ad4e;
    }
    .page-content {
        background: #eef1f5;
    }
    .table.table-light>thead>tr>th{
        color:#333333;
    }
</style>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a>主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>主监控台</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>实时监控</a>

        </li>
    </ul>

</div>

<div style="margin-top: 15px">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row runtime_dash">
                    <div><h2 style="margin-left:20px;margin-top: 10px; margin-bottom: 10px;">崇明镇西手帕厂锅炉</h2>
                    </div>
                    <!--<div class="col-md-3" style="padding: 0; padding-left: 10px; ">-->
                    <!--<div ng-controller="statusModule" id="status_1" style="height: 60px;">-->

                    <!--</div>-->
                    <!--<div class="">-->
                    <!--&lt;!&ndash; BEGIN SAMPLE TABLE PORTLET&ndash;&gt;-->
                    <!--<div class="portlet light bordered" style="padding: 5px;padding-top: 0; border-color: #DDDDDD;">-->

                    <!--<div class="portlet-body">-->
                    <!--<table class="table table-hover table-light" style="margin-bottom: 0;">-->
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th >测量项目</th>-->
                    <!--<th>状态值</th>-->

                    <!--</tr>-->
                    <!--</thead>-->
                    <!--</table>-->
                    <!--<div class="" style="height: 420px;width: 100%; overflow: auto; overflow-x: hidden;margin-top: 0;">-->
                    <!--<table class="table table-hover table-light">-->

                    <!--<tbody>-->
                    <!--<tr>-->
                    <!--<td> 状态量1 </td>-->
                    <!--<td>-->
                    <!--<span class="label label-sm label-success">-->
                    <!--111-->
                    <!--</span>-->
                    <!--</td>-->
                    <!--</tr>-->

                    <!--</tbody>-->
                    <!--</table>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END SAMPLE TABLE PORTLET&ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-8" style="padding: 0; ">
                        <div id="boiler_coal_double">

                        </div>
                        <div class="" >
                            <div style="margin-left: 10px;margin-right: 10px;">
                        <span style="margin: 4px 4px; display: inline-block;">

                        </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 0; padding-right: 10px;">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered" style="padding: 0; ">

                            <div class="portlet-body" style="padding: 0; ">
                                <!--<table class="table table-hover table-light" style="margin-bottom: 0;">-->
                                    <!---->
                                <!--</table>-->
                                <div class="" style="height: 480px; overflow: auto; margin-top: 0;">
                                    <table class="table table-hover table-light" >
                                        <thead style="background-color: #edfaf8;">
                                        <tr>
                                            <th style="width: 40%;">测量项目</th>
                                            <th>测量值</th>
                                            <th style="width: 18%;">单位</th>
                                            <th>状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td> 测点排气温度</td>
                                            <td> 90 </td>
                                            <td> ℃ </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 测点烟道含氧量</td>
                                            <td> 8.39 </td>
                                            <td> % </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 测点过剩空气系数倍数</td>
                                            <td> 0.9516 </td>
                                            <td> / </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 实测二氧化硫浓度</td>
                                            <td> 150 </td>
                                            <td> mg/g3 </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 实测氮氧化物浓度</td>
                                            <td> 22 </td>
                                            <td> mg/g3 </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 实测一氧化碳浓度</td>
                                            <td> 150 </td>
                                            <td> mg/g3 </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 实测烟尘浓度</td>
                                            <td> 6.0 </td>
                                            <td> mg/g3 </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 林格曼黑度</td>
                                            <td> 1 </td>
                                            <td> 级 </td>
                                            <td>
                                                <span class="label label-sm label-success" >
                                                    正常
                                                </span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript" src="/js/lib/d3/d3.v4.js"></script>
<script>
    //    boilerAdmin.controller("CmRuntimeController",function ($scope,$rootScope) {
    //        $scope.$on('$viewContentLoaded', function() {
    //            // initialize core components
    //
    //            App.initAjax();
    //
    //            // set sidebar closed and body solid layout mode
    //            $rootScope.settings.layout.pageContentWhite = true;
    //            $rootScope.settings.layout.pageBodySolid = true;
    //            $rootScope.settings.layout.pageSidebarClosed = false;
    //        });
    //
    //
    //    });

    d3.xml("/img/boiler_coal_double.svg").mimeType("image/svg+xml").get(function(error, xml) {
        if(error) {
            console.log('加载SVG文件出错！', error);
        } else {
            //      document.body.appendChild(xml.documentElement);//添加DOM节点
            var svgNode = xml.getElementsByTagName("svg")[0];
            var module = d3.select("#boiler_coal_double");
            module.node().appendChild(svgNode);
            var svg = module.select("svg");
            var gauge = svg.select("#gauge_container");
            var dash = svg.select("#dash_container");


            var renderCoalDashes = function(id) {
                var size = 8;
                var sec = 4096;
                var color = "#fff";
                var dashModule = svg.select(id);


                var dashSteam = function() {
                    dashModule
                        .append("circle").attr("cx", 443).attr("cy", 320).attr("r", size / 2).style("fill", color)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cy", 58)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cx", 690)
                        .remove();
                };

                var dashWater = function() {
                    dashModule.append("circle").attr("cx", 1200).attr("cy", 135).attr("r", size / 2).style("fill", color)
                        .transition().duration(sec / 6).ease(d3.easeLinear).attr("cx", 1108)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cy", 440)
                        .transition().duration(sec / 16).ease(d3.easeLinear).attr("cx", 1090)
                        .remove();

                    dashModule.append("circle").attr("cx", 1010).attr("cy", 462).attr("r", size / 2).style("fill", color)
                        .transition().duration(sec / 5).ease(d3.easeLinear).attr("cx", 924)
                        .transition().duration(sec / 5).ease(d3.easeLinear).attr("cy", 570)
                        .remove();

                    dashModule
                        .append("circle").attr("cx", 804).attr("cy", 570).attr("r", size / 2).style("fill", color)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cy", 238)
                        .transition().duration(sec / 3).ease(d3.easeLinear).attr("cx", 606)
                        .transition().duration(sec / 6).ease(d3.easeLinear).attr("cy", 320)
                        .remove();
                };

                var dashSmoke = function() {
                    dashModule
                        .append("circle").attr("cx", 630).attr("cy", 402).attr("r", size / 2).style("fill", color)
                        .transition().duration(sec / 3).ease(d3.easeLinear).attr("cx", 758)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cy", 620)
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cx", 1000)
                        .remove();
                };

                var dashAir = function() {
                    dashModule
                        .append("circle").attr("cx", 270).attr("cy", 716).attr("r", size / 2).style("fill", "#666")
                        .transition().duration(sec / 2).ease(d3.easeLinear).attr("cx", 436)
                        .transition().duration(sec / 4).ease(d3.easeLinear).attr("cy", 650)
                        .remove();
                };

                dashModule
                    .transition().on("start", function repeat() {
                    dashModule
                        .transition().delay(260).on("start", function() {
                        dashSteam();
                        dashWater();
                        dashSmoke();
                        dashAir();
                        repeat();
                    });
                });


            };

            renderCoalDashes("#dash_container");

            // 处理SVG文件
        }
    });
</script>

