<style>
    .portlet{
        margin-bottom: 0px;
    }
    .table td{
        white-space: nowrap;
        font-size: 12px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding: 7px 8px;
    }
    .label-warning{
        background-color: #f0ad4e;
    }

</style>

<div class="row runtime_dash">
    <div class="col-md-3" style="padding: 0; padding-left: 10px; ">
        <div ng-controller="statusModule" id="status_1" style="height: 50px;">

        </div>
        <div class="">

            <h6 class="font-grey-salsa" style="padding-bottom: 6px;">
                采样时间: {{ runtime.instants[0].date | amDateFormat:"YYYY-MM-DD HH:mm:ss"}}
            </h6>
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light bordered" style="padding:0px 5px; height: 405px;width: 100%; overflow: auto; overflow-x: hidden;"
                 ng-show="(runtime.instants|filter:{category:'13'}).length>0 && (runtime.boiler.isOnline||runtime.boiler.isBurning)">

                <div class="portlet-body">

                    <div class="" style="margin-top: 0;">
                        <table class="table table-hover table-light" style="margin-bottom: 10px;">

                            <tbody>
                            <tr ng-repeat="d in runtime.instants|filter:{category:'13'}">
                                <td> {{d.name}} </td>
                                <td>
                                    <span ng-class="['label', 'label-sm', {'label-success': d.alarmLevel == 0}, {'label-default': d.alarmLevel == -1}, {'label-warning': d.alarmLevel == 1}, {'label-danger': d.alarmLevel == 2} ]">
                                    {{d.remark}}
                                    </span>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>


                </div>
            </div>

            <div class="portlet light bordered"
                 ng-show="(runtime.instants|filter:{category:'13'}).length==0 "
                style="padding: 0px 10px 0px 10px; overflow: hidden;">

                <div class="portlet-body">

                    <div class="" style="margin-top: 0;">
                        <table class="table table-hover table-light" style="margin-bottom: 10px;">

                            <tbody>

                            <tr>
                                <td> 锅炉燃料 </td>
                                <td>
                                    <i ng-show="runtime.boiler.Fuel.Type.TypeId == 1" class="fa fa-cubes font-grey-cascade"></i>
                                    <i ng-show="runtime.boiler.Fuel.Type.TypeId == 2" class="fa fa-tint font-grey-gallery"></i>
                                    <i ng-show="runtime.boiler.Fuel.Type.TypeId == 3" class="fa fa-database font-blue-soft"></i>
                                    <i ng-show="runtime.boiler.Fuel.Type.TypeId == 4" class="fa fa-leaf font-green-jungle"></i>
                                    <i ng-show="runtime.boiler.Fuel.Type.TypeId > 4" class="fa fa-sun-o font-grey"></i>
                                    {{ runtime.boiler.Fuel.Name }}
                                </td>
                            </tr>
                            <tr>
                                <td>锅炉介质</td>
                                <td>{{ runtime.boiler.Medium.Name }}</td>
                            </tr>
                            <tr>
                                <td> 使用企业 </td>
                                <td> {{ runtime.boiler.Enterprise.Name }}</td>
                            </tr>
                            <tr>
                                <td> 额定蒸发量 </td>
                                <td> {{ runtime.boiler.EvaporatingCapacity }} t/h </td>
                            </tr>
                            <tr>
                                <td> 对应终端 </td>
                                <td>
                                    <span ng-repeat="terminal in runtime.boiler.TerminalsCombined" style="display: block; clear: both; "> {{ terminal.Name }} [机组{{ terminal.TerminalSetId }}]</span>

                                </td>
                            </tr>
                            <tr>
                                <td>锅炉型态</td>
                                <td>
                                    <span>{{ runtime.boiler.Form.Name }}</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="col-md-6" style="padding: 0;" ng-init="runtime.initControl();">
        <div class="" style="margin-left: 50px;" ng-if="isRemoteControl">
            <div class="pull-right" style="margin-right: 20px;">
                <button type="button" class="btn btn-default" ng-click="dataConfig();">
                    参数设置
                </button>
            </div>
            <div class="btn-group pull-right" style="margin-right: 5px;">
                <button type="button" class="btn blue" ng-click="boilerRestart(2)">启动锅炉</button>
                <button type="button" class="btn green" ng-click="boilerRestart(1)">关闭锅炉</button>
                <button type="button" class="btn yellow-lemon" ng-click="boilerRestart(3)">重启锅炉</button>
                <!--<select ng-model="terminalRestart" ng-options="ter.Name for ter in runtime.boiler.TerminalsCombined"
                        class="form-control" style="width: 50%">
                    <option value="" disabled>请选择终端</option>
                </select>
                <select ng-model="restartValue"
                        class="form-control" style="width: 50%">
                    <option value="" disabled>请选择操作</option>
                    <option value="2">启动锅炉</option>
                    <option value="1">关闭锅炉</option>
                    <option value="3">重置锅炉</option>
                </select>
                <span class="input-group-btn">
                    <button ng-click="boilerRestart(restartValue,terminalRestart)"
                            ng-disabled="!terminalRestart"
                            class="btn blue" type="button">
                        确定
                    </button>
                  </span>-->

            </div>

        </div>

        <boiler-module></boiler-module>
        <div class="" >
            <div ng-show="runtime.boiler.hasSwitchValue && runtime.boiler.isOnline"
                 style="margin-left: 10px;margin-right: 10px;">
                <div style=" border-radius: 4px; ">
                    <!--<span class="" style="color: #999;">开关量</span>-->
                    <input type="button" ng-model="kai" value=""
                           class="btn btn-link" style="text-decoration: none; width: 80px; height: 20px;"
                           ng-click="kaiguan()" >
                </div>


                        <span ng-repeat="d in runtime.instants| orderBy:'-value'"
                              ng-show="d.category === 11 && d.value && kai"
                              class="label label-sm ng-binding ng-scope"
                              ng-class="{'label-info': d.value && (d.switchFlag <= 1 || !d.switchFlag), 'label-warning': d.value && d.switchFlag >= 2, 'label-default': !d.value}"
                              style="margin: 4px 4px; display: inline-block;">
                        {{ d.name }}
                        </span>
                        <span ng-repeat="d in runtime.instants| orderBy:'-value'"
                              ng-show="d.category === 11 && !kai"
                              class="label label-sm ng-binding ng-scope"
                              ng-class="{'label-info': d.value && (d.switchFlag <= 1 || !d.switchFlag), 'label-warning': d.value && d.switchFlag >= 2, 'label-default': !d.value}"
                              style="margin: 4px 4px; display: inline-block;">
                                {{ d.name }}
                        </span>
            </div>

        </div>
    </div>
    <div class="col-md-3" style="padding: 0; padding-right: 10px;">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light bordered" style="padding: 5px;padding-top: 0; "
            ng-show="runtime.boiler.isBurning || runtime.boiler.isOnline">

            <div class="portlet-body">
                <!--<table class="table table-hover table-light" style="margin-bottom: 0;">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th style="width: 30%;">测量项目</th>-->
                        <!--<th>测量值</th>-->
                        <!--<th style="width: 18%;">单位</th>-->
                        <!--<th>状态</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                <!--</table>-->
                <div class="" style="height: 480px; overflow: auto; margin-top: 0;">
                    <table class="table table-hover table-light" >
                        <!--<thead>
                            <tr>
                                <th>测量项目</th>
                                <th>测量值</th>
                                <th>单位</th>
                                <th>状态</th>
                            </tr>
                        </thead>-->
                        <tbody>
                        <tr ng-repeat="d in runtime.instants" ng-show="d.category !== 11 && d.category != 13">
                            <td> {{d.name}} </td>
                            <td> {{d.value}} </td>
                            <td> {{d.unit}} </td>
                            <td>
                                <span ng-class="['label', 'label-sm', {'label-success': d.alarmLevel == 0}, {'label-default': d.alarmLevel == -1}, {'label-warning': d.alarmLevel == 1}, {'label-danger': d.alarmLevel == 2}]">{{d.alarmDesc}}</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>


        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

