<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a>主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>主监控台</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>配置向导</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div ng-controller="wizardCtrl" style="margin-top: 15px;">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="wizard">
                   <div class="w_part1">
                       <div class="w_img">
                           <img src="/images/sprite.png" alt="">
                       </div>
                   </div> 

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->






    <script type="text/ng-template" id="addFile.html">
        <div class="modal-header">
            <h3 class="modal-title">文件上传</h3>
        </div>
        <form method="post" action="http://192.168.0.101:8080/fileupload" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="file"  name="file">

            </div>
            <div class="modal-footer">
                <input type="submit" value="提交" class="btn btn-primary">
                <!--<button class="btn btn-primary" type="button" ng-click="ok()">提交</button>-->
                <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
            </div>
        </form>
    </script>


</div>