<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a>主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>信息维护</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>模板管理</a>
        </li>

    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div ng-controller="templateCtrl as template" style="margin-top: 15px;">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase font-green-sharp"> 模板列表</span>
                    </div>
                    <div class="actions">
                        <!--<button id="sample_editable_1_new" ng-click="template.new()" class="btn sbold green">-->
                            <!--<i class="fa fa-plus"></i> 添加-->
                        <!--</button>-->
                        <a ui-sref="terminal.dashboard" class="btn sbold green">
                            <i class="fa fa-reply"></i> 返回
                        </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table datatable="ng" dt-options="template.dtOptions" dt-column-defs="template.dtColumnDefs"
                           class="table table-striped table-bordered table-hover order-column table-boiler">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>模板名称</th>
                            <th>所属企业</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody style="text-align: center">
                        <tr ng-repeat='data in template.datasource  '>
                            <td> {{data.num}} </td>

                            <td> {{ data.Name }} </td>
                            <td>
                                {{ data.Organization.Name}} <br>
                            </td>

                            <td>
                                <a ng-click="template.edit(data)" class="btn view btn-outline btn-circle blue delete_btn">
                                    <i class="fa fa-edit"> 编辑 </i>
                                </a>
                                <a ng-click="template.delete(data.Uid)" class="btn view btn-outline btn-circle red delete_btn">
                                    <i class="fa fa-trash"> 删除 </i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->




</div>