
<div>
    <form method="post" action="http://192.168.0.101:8080/fileupload" enctype="multipart/form-data">
        <input type="file"  name="file" >
        <input type="submit" value="提交">
    </form>
    <script>
//        function filechange(){
//            $.ajax({
//                url:"fileupload",
//                type: "POST",
//                async: false,
//                cache: false,
//                processData: false,
//                contentType: false,
//                data: file,
//                success: function(data){
//                    console.log(data);
//                },
//                error: function(err) {
//                    console.log(err);
//                }
//            });
//        }

    </script>

</div>