<style>
    .wizard{
        width: 100%;
        min-height: 600px;
        background-color: #e5e5e5;
    }
    .wizard .con img{
        width: 100%;
    }
    .wizard .btn_con{
        text-align: center;
    }
    .wizard .btn_con .btn{
        width: 20%;
        margin: auto;
    }
</style>

<div class="wizard">
    <div class="con">
        <img src="/images/wizard/bg1.png" alt="">
    </div>
    <div class="btn_con">
        <a ui-sref="wizard.boiler" class="btn green">开 始 配 置</a>
    </div>
</div>







<!--<div>
    <style>
        .wizard{
            padding: 30px 50px;
            overflow: hidden;
        }
        .wizard .w_part1{
            float: left;
            width: 26%;
            text-align: center;
        }
        .wizard .w_part2{
            float: left;
            width: 11%;
            text-align: center;
        }
        .wizard .w_part1 .w_img{
            width: 100%;
            height: 230px;
            line-height: 210px;
            border: 1px dotted #dddddd;
            border-radius: 35px;
            overflow: hidden;
            padding: 10px;

        }
        .wizard .w_part2 .w_img{
            line-height: 230px;
        }
        .wizard .w_part1 .w_img img{
            max-width: 100%;
            max-height: 100%;
        }
        .wizard .w_part2 .w_img img{
            width: 80px;
        }
        .wizard .w_part1 .w_text{
            margin-top: 30px;
        }
        .wizard .w_part1 .w_text h5{
            font-weight: bold;
            white-space: nowrap;
        }
        .wizard .w_part1 .btn{
            width: 90%;
            margin-bottom: 10px;
        }
    </style>
    &lt;!&ndash; BEGIN MAIN CONTENT &ndash;&gt;
    <div class="wizard">
        <div class="w_part1">
            <div class="w_img">
                <img src="/images/wizard/w1.jpg" alt="">
            </div>
            <div class="w_text">
                <h5>终端数据通道采集信息配置</h5>
                <a class="btn btn-outline btn-circle btn-sm blue" ui-sref="terminal.dashboard">
                    <i class="fa fa-cogs"></i>
                    配置终端信息
                </a>
            </div>
        </div>
        <div class="w_part2">
            <div class="w_img">
                <img src="/images/arrow_right.svg" alt="">
            </div>
        </div>

        <div class="w_part1">
            <div class="w_img">
                <img src="/images/wizard/w2.jpg" alt="">
            </div>
            <div class="w_text">
                <h5>锅炉展示信息配置，终端设备关联</h5>
                <a class="btn btn-outline btn-circle btn-sm blue" ui-sref="boiler.dashboard">
                    <i class="fa fa-cogs"></i>
                    配置锅炉信息
                </a>
            </div>
        </div>
        <div class="w_part2">
            <div class="w_img">
                <img src="/images/arrow_right.svg" alt="">
            </div>
        </div>

        <div class="w_part1">
            <div class="w_img">
                &lt;!&ndash;<img src="/images/no_image.png" alt="">&ndash;&gt;
                <img src="/images/wizard/w3.jpg" alt="">
            </div>
            <div class="w_text">
                <h5>完成设备关联匹配，查看设备数据展示信息</h5>
                <a class="btn btn-outline btn-circle btn-sm blue" ui-sref="monitor.thumb">
                    <i class="fa fa-cogs"></i>
                    查看设备概览
                </a>
                <a class="btn btn-outline btn-circle btn-sm blue" ui-sref="config-runtime-alarm">
                    <i class="fa fa-cogs"></i>
                    配置告警规则
                </a>
            </div>
        </div>

    </div>
    &lt;!&ndash; END MAIN CONTENT &ndash;&gt;
    <a ui-sref="wizard.boiler" class="btn green">锅炉配置</a>
</div>-->

