<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a>主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>主监控台</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a>配置向导</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<div ng-controller="wizardCtrl" style="margin-top: 15px;">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div ui-view class="fade-in-up"> </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->








</div>

