<!--锅炉终端绑定-->


<div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="display: inline-block;">终端绑定</h3>
    <span class="ticket-id bold font-green font-lg" style="display: inline-block; margin-left: 12px;">{{ boiler.Name}}</span>
</div>
<style type="text/css">
    .modal-body{
        width: 500px;
        min-height: 300px;
        margin: auto;
        padding-top: 50px;
    }
    div.input-group.form-group,
    div.btn-group.form-group{
        padding-left: 15px;
        padding-right: 15px;
    }

    div.form-group.form-selector .control-label {
        width: 15%;
        margin-top: 6px;
    }

    div.form-group.form-selector select {
        width: 85%;
        float: right;
    }

</style>
<div class="modal-body">
    <div class="row">
        <div class=" col-md-12">
             <div class="form-group">
                 <input type="text" ng-model="terminal.value" maxlength="6" minlength="6" ng-disabled="terminal.bind"
                        class="form-control pull-left" style="width: 86%; margin-right: 5px;" placeholder="请输入六位数字终端编码,如：680001">
                 <button type="button" ng-click="ok()" ng-if="!terminal.bind"
                         ng-disabled="!terminal.value || terminal.bind" class="pull-left"
                         ng-class="['btn', {'grey-salsa': !terminal.value || terminal.bind},{'blue': terminal.value && !terminal.bind}]" >绑定</button>

                 <button type="button" ng-click="unbind();" ng-if="terminal.bind"
                         class="btn btn-sm btn-outline btn-circle red delete_btn pull-left">
                     <i class="fa fa-minus" style="font-size: 12px;"></i>
                 </button>
             </div>

            <!--<div ng-repeat="term in terminal track by $index" class="form-group">
                <input type="text" ng-model="term.value" maxlength="6" minlength="6" ng-disabled="term.bind"
                       class="form-control" style="width: 86%; display: inline-block;" placeholder="请输入六位数字终端编码,如：680001">
                <button type="button" ng-click="ok(term)" ng-if="!term.bind"
                        ng-disabled="!term.value || term.bind"
                        ng-class="['btn', {'grey-salsa': !term.value || term.bind},{'blue': term.value && !term.bind}]" >绑定</button>

                <button type="button" ng-click="unbind($index);" ng-if="term.bind"
                        class="btn btn-sm btn-outline btn-circle red delete_btn">
                    <i class="fa fa-minus" style="font-size: 12px;"></i>
                </button>
            </div>

            <button type="button"
                    ng-show="terminal.length < 3 && terminal[0].bind"
                    ng-click="addTermBind();"
                    class="btn green"
                    style="width: 100%;">
                <i class="fa fa-plus-circle"></i>
                新增绑定终端
            </button>-->
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn green" ng-click="template();" ng-disabled="!terminal.bind">导入模板</button>
    <button type="button" class="btn btn-primary" ng-click="back();">上一步</button>
    <button class="btn ladda-button btn-primary" type="button" ng-click="goNext();"
        ng-disabled="!terminal.bind">
        <span class="ladda-label">下一步</span>
    </button>
    <a ui-sref="wizard.term-config">Go</a>
</div>