
<!--终端配置-->

<!--模拟通道-->
<table class="table table-striped table-hover table-bordered conf_confirm">
    <thead>
    <tr>
        <th colspan="3">模拟通道</th>
        <th>功能码</th>
        <th>高低字节</th>
        <th>MODBUS地址</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index" ng-if="$index<12 && !chan_row[0].noStatus">
        <td width="10%" class="chanel_label">
            模拟通道A
        </td>
        <td width="10%" class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>

            <div>
                [{{$modal.dataMatrix[outerIndex][0].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][0].Parameter.Id }}</small>]
                (<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][0].Parameter.Scale }}</small>
                <small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][0].Parameter.Unit }}</small>)
            </div>
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][0].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][0].AnalogueSwitch.Byte.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][0].AnalogueSwitch.Modbus}}
        </td>
    </tr>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index" ng-if="$index<12 && !chan_row[1].noStatus">
        <td width="30%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
            模拟通道B
        </td>
        <td class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>
            <div>
                [{{$modal.dataMatrix[outerIndex][1].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][1].Parameter.Id }}</small>]
                (<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][1].Parameter.Scale }}</small>
                <small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][1].Parameter.Unit }}</small>)
            </div>
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][1].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][1].AnalogueSwitch.Byte.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][1].AnalogueSwitch.Modbus}}
        </td>
    </tr>
    </tbody>

</table>

<!--开关通道-->
<table class="table table-striped table-hover table-bordered conf_confirm">
    <thead>
    <tr>
        <th colspan="3">开关通道</th>
        <th>功能码</th>
        <th>MODBUS地址</th>
        <th>位地址</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index" ng-if="!chan_row[2].noStatus">
        <td width="30%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
            开关通道1
        </td>
        <td class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>

            <div>
                [{{$modal.dataMatrix[outerIndex][2].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][2].Parameter.Id }}</small>]
            </div>
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][2].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][2].AnalogueSwitch.Modbus}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][2].AnalogueSwitch.BitAddress}}
        </td>
    </tr>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index" ng-if="!chan_row[3].noStatus">
        <td width="30%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
            开关通道2
        </td>
        <td class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>
            <div ng-if="$modal.dataMatrix[outerIndex][3].Parameter==null">
                [{{chan_row[3].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ chan_row[3].Parameter.Id }}</small>]
            </div>
            <div ng-if="$modal.dataMatrix[outerIndex][3].Parameter!=null">
                [{{$modal.dataMatrix[outerIndex][3].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][3].Parameter.Id }}</small>]
            </div>

        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][3].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][3].AnalogueSwitch.Modbus}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][3].AnalogueSwitch.BitAddress}}
        </td>
    </tr>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index" ng-if="!chan_row[4].noStatus">
        <td width="30%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
            开关通道3
        </td>
        <td class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>
            <div>
                [{{$modal.dataMatrix[outerIndex][4].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][4].Parameter.Id }}</small>]v
            </div>
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][4].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][4].AnalogueSwitch.Modbus}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][4].AnalogueSwitch.BitAddress}}
        </td>
    </tr>
    </tbody>
</table>

<!--状态通道-->
<table class="table table-striped table-hover table-bordered conf_confirm">
    <thead>
    <tr>
        <th colspan="3">状态通道</th>
        <th>功能码</th>
        <th>高低字节</th>
        <th>MODBUS地址</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index"
        ng-if="!chan_row[5].noStatus && $index<12">
        <td width="30%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
            状态通道
        </td>
        <td class="chanel_label">
            通道{{outerIndex +1}}
        </td>
        <td>
            <div>
                [{{$modal.dataMatrix[outerIndex][5].Parameter.Name}}]
                [<small class="font-blue-oleo">{{ $modal.dataMatrix[outerIndex][5].Parameter.Id }}</small>]
            </div>

        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][5].AnalogueSwitch.Function.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][5].AnalogueSwitch.Byte.Name}}
        </td>
        <td>
            {{$modal.chanMatrix[outerIndex][5].AnalogueSwitch.Modbus}}
        </td>
    </tr>
    </tbody>
</table>

<!--通信参数-->
<table class="table table-striped table-hover table-bordered conf_confirm">
    <thead>
    <tr>
        <th colspan="2">参数类型</th>
        <th colspan="4">参数配置</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2" class="chanel_label">
            波特率
        </td>
        <td colspan="4">
            {{$modal.BaudRate.Name}}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="chanel_label">
            数据位
        </td>
        <td colspan="4">
            {{$modal.dataBit.Name}}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="chanel_label">
            停止位
        </td>
        <td colspan="4">
            {{$modal.stopBit.Name}}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="chanel_label">
            校验位
        </td>
        <td colspan="4">
            {{$modal.checkDigit.Name}}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="chanel_label">
            通信接口地址
        </td>
        <td colspan="4">
            {{$modal.communiInterface.Name}}
        </td>
    </tr>
    <tr>
        <td colspan="2" class="chanel_label">
            从机地址
        </td>
        <td colspan="4">
            {{$modal.subAdr.Name}}
        </td>
    </tr>
    <!--<tr>-->
    <!--<td colspan="2" class="chanel_label">-->
    <!--底层应用支持-->
    <!--</td>-->
    <!--<td colspan="4">-->
    <!--{{$modal.BaudRate}}-->
    <!--</td>-->
    <!--</tr>-->
    <tr ng-show="currentUser.Role.RoleId <= 2">
        <td colspan="2" class="chanel_label">
            心跳包频率
        </td>
        <td colspan="4">
            {{$modal.heartbeat.Name}}
        </td>
    </tr>



    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td colspan="2" class="chanel_label">
            终端设置密码
        </td>
        <td colspan="4">
            <input type="password" ng-model="$modal.terminalPass" class="form-control">
        </td>
    </tr>
    </tbody>
</table>

