
<!--终端配置-->
<div class="modal-header">
    <h3 class="modal-title" ng-show="category !== 16" id="modal-title" style="display: inline-block;" >终端配置</h3>
    <span ng-hide="template" class="ticket-id bold font-blue font-lg" style="display: inline-block;">终端编码{{ terminal.TerminalCode }}</span>
</div>

<style type="text/css">
    div.input-group.form-group,
    div.btn-group.form-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-body .input-group span.unit {
        position: absolute;
        left: auto;
        right: 16px;
        top: 8px;
        float: right;
        z-index: 10;
        color: grey;
    }

    .modal-body .input-group a.addon,
    .modal-section .input-group a.addon {
        position: absolute;
        left: auto;
        right: 6px;
        top: 6px;
        float: right;
        z-index: 10;
        padding: 4px;
        width: 22px;
        height: 22px;
        font-size: 12px;
        line-height: 1em;
    }

    .modal-section {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    .modal-body hr {
        margin-top: 6px;
    }

    div.ui-select-container {
        display: inline-block;
        float: left;
        width: 72.8%;
    }

    div.dropdown-group {
        display: inline-block;
        float: left;
        width: 13.4%;
    }

    button.btn-cell {
        /*border-left: 1px solid #ccc;*/
        width: 100%;
        padding: 6px 3px;
    }
    .table{
        margin-bottom: 0;
    }
    .table > tbody > tr > td {
        font-size: 13px;
        padding: 2px;
        border: 1px solid #ccc;
        vertical-align: middle;
    }

    .table > tbody > tr > td .btn-default {
        border: none;
    }

    .tabbable-line {
        margin-left: 12px;
    }

    .tabbable-line > .nav-tabs > li.open,
    .tabbable-line > .nav-tabs > li {
        background: 0 0;
        border-top: none;
        border-bottom: none;
        padding-top: 6px;
    }

    .tabbable-line > .nav-tabs > li.open,
    .tabbable-line > .nav-tabs > li:hover {
        border-top: 4px solid #9fe4ea;
        padding-top: 2px;
    }

    .tabbable-line > .nav-tabs > li.active {
        background: 0 0;
        border-top: 4px solid #36c6d3;
        position: relative;
        padding-top: 2px;
    }

    .portlet.light .nav-tabs > li > a {
        padding: 0 10px 6px 5px;
    }

    .portlet.light > .portlet-title {
        min-height: 0;
    }

    .tabbable-line > .nav-tabs {
        margin-top: -16px;
    }

     .table input{
        border: none;
    }
    .table select{
        border: none;
    }
    .chanel_label{
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
    }
    .conf_confirm{
        margin-top: 20px;
    }
    .conf_confirm h4{
        color: #666666;
        /*text-align: center;*/
    }
    .conf_confirm tr{
        height:37px;
    }
    .conf_confirm tr th{
        color: #0b94ea;
    }
    .table .has-error{
        border: 1px solid #e73d4a;
    }
</style>

<div class="modal-body">
    <!--模拟通道-->
    <div class="conf_confirm">
        <table class="table table-striped table-hover table-bordered ">
            <h4>模拟通道</h4>
            <thead>
            <tr>
                <th>通道</th>
                <th>参数名称</th>
                <th>换算比例</th>
                <th>参数单位</th>
                <th style="width: 12%;">功能码</th>
                <th style="width: 12%;">高低字节</th>
                <th>MODBUS地址</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in analogueList track by $index" ng-init="outerIndex= $index;">
                <td width="10%"
                    style="color: #555; text-align: center; border: 1px solid #ccc; ">
                    通道
                    <input type="number" ng-model="data.ChannelNumber"
                           style="display: inline-block; width: 50%;" class="form-control"
                           uib-tooltip="模拟通道最大24">
                </td>
                <td>
                    <div class="btn-group" uib-dropdown style="width: 100%;">
                        <button type="button" uib-dropdown-toggle
                                ng-disabled="!data.Parameter || !data.Parameter.Name || data.Status === -1"
                                ng-class="['btn', 'btn-cell', {'default': data.Status === 0}, {'green': data.Status === 1}, {'red': data.Status === 2}]"
                                style="width: 25%;">
                            <i ng-class="['fa', {'fa-ellipsis-h': data.Status === 0}, {'fa-eye': data.Status === 1}, {'fa-eye-slash': data.Status === 2}]"></i>
                            <span ng-show="data.Status === 1">{{ data.SequenceNumber }}</span>
                            <span class="sr-only">通道状态</span>
                        </button>
                        <input type="text" ng-model="data.Parameter.Name" ng-change="dataChanged(data);" style="width:75%; float: left;" class="form-control" placeholder="{{data.Parameter.Name||'默认（未配置）'}}">

                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li class="dropdown-submenu">
                                <a href><i class="fa fa-eye"></i> 位置</a>
                                <ul class="dropdown-menu" style="min-width: 44px;">
                                    <li ng-repeat="priority in priorities" ng-if="$index<12">
                                        <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                    </li>
                                </ul>
                                <ul class="dropdown-menu" style="min-width: 44px; margin-left:48px;">
                                    <li ng-repeat="priority in priorities" ng-if="$index>=12 && $index<24">
                                        <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="menuitem"><a href ng-click="setStatus(data, 2)"><i class="fa fa-eye-slash"></i> 隐藏</a></li>

                            <li class="divider"></li>
                            <li role="menuitem"><a href ng-click="setStatus(data, 0)"><i class="fa fa-ellipsis-h"></i> 默认</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="data.Parameter.Scale" class="form-control"
                           placeholder="未配置" ng-disabled="!data.Parameter||!data.Parameter.Name">
                </td>
                <td>
                    <input type="text" ng-model="data.Parameter.Unit" class="form-control"
                           placeholder="未配置" ng-disabled="!data.Parameter||!data.Parameter.Name">
                </td>
                <td>
                    <ui-select ng-model="data.Func"
                               theme="bootstrap" ng-disabled="!data.Parameter||!data.Parameter.Name"
                               style="width: 100%;">
                        <ui-select-match placeholder="{{data.Func||'默认(未配置)'}}">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="fCode.Id as fCode in fcode1 | filter: $select.search ">
                            {{fCode.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <ui-select ng-model="data.Byte"
                               theme="bootstrap" ng-disabled="!data.Parameter||!data.Parameter.Name"
                               style="width: 100%;">
                        <ui-select-match placeholder="{{$select.selected.Name||'默认(未配置)'}}">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="hlCode.Id as hlCode in hlCodes | filter: $select.search">
                            {{hlCode.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <input type="number" ng-model="data.Modbus" placeholder="默认（未配置）"
                           ng-disabled="!data.Parameter||!data.Parameter.Name"
                           uib-tooltip-template="'modbusTips.html'"
                           class="form-control">

                </td>
                <td>
                    <button type="button" ng-click="removeAnalogue($index);" class="btn red btn-sm btn-outline btn-circle">
                        <i class="fa fa-minus" style="font-size: 12px;"></i>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
        <button type="button"
                ng-show="analogueList.length < 24 "
                ng-click="addAnalogue();"
                class="btn green"
                style="width: 100%;">
            <i class="fa fa-plus-circle"></i>
            新增模拟通道
        </button>
    </div>

    <!--开关通道-->
    <div class="conf_confirm">
        <table class="table table-striped table-hover table-bordered ">
            <h4>开关通道</h4>
            <thead>
            <tr>
                <th>通道</th>
                <th>参数名称</th>
                <th>功能码</th>
                <th>MODBUS地址</th>
                <th>位地址</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in switchList" ng-init="outerIndex=$index;">
                <td width="10%"
                    style="color: #555; text-align: center; border: 1px solid #ccc; ">
                    通道
                    <input type="number" ng-model="data.ChannelNumber"
                           style="display: inline-block; width: 50%;" class="form-control"
                           uib-tooltip="开关通道最大48">
                </td>
                <td width="36%">
                    <div class="btn-group" style="width: 100%;">
                        <div uib-dropdown class="dropdown-group" style="width:12%;">
                            <button type="button" uib-dropdown-toggle
                                    ng-disabled="!data.Parameter || !data.Parameter.Name || data.Status === -1"
                                    ng-class="['btn', 'btn-cell', {'default': data.Status === 0}, {'green': data.Status === 1}, {'red': data.Status === 2}]">
                                <i ng-class="['fa', {'fa-ellipsis-h': data.Status === 0}, {'fa-eye': data.Status === 1}, {'fa-eye-slash': data.Status === 2}]"></i>
                                <span ng-show="data.Status === 1">{{ data.SequenceNumber }}</span>
                                <span class="sr-only">通道状态</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li class="dropdown-submenu">
                                    <a href><i class="fa fa-eye"></i> 关注</a>
                                    <ul class="dropdown-menu" style="min-width: 44px;">
                                        <li ng-repeat="priority in priorities" ng-if="$index<12">
                                            <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                        </li>
                                    </ul>
                                    <ul class="dropdown-menu" style="min-width: 44px; margin-left:48px;">
                                        <li ng-repeat="priority in priorities" ng-if="$index>=12 && $index<24">
                                            <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                        </li>
                                    </ul>
                                    <ul class="dropdown-menu" style="min-width: 44px; margin-left:96px;">
                                        <li ng-repeat="priority in priorities" ng-if="$index>=24 && $index<36">
                                            <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li role="menuitem"><a href ng-click="setStatus(data, 2)"><i class="fa fa-eye-slash"></i> 隐藏</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href ng-click="setStatus(data, 0)"><i class="fa fa-ellipsis-h"></i> 默认</a></li>
                            </ul>
                        </div>
                        <input type="text" ng-model="data.Parameter.Name" ng-change="dataChanged(data);" style=" width: 78%; float: left;" class="form-control" placeholder="未配置">

                        <div uib-dropdown class="dropdown-group" style="width:10%;">
                            <button type="button" uib-dropdown-toggle
                                    ng-disabled="!data.Parameter || !data.Parameter.Name"
                                    ng-class="['btn', 'btn-cell', {'blue': data.SwitchStatus === 1}, {'yellow-lemon': data.SwitchStatus === 2}]">
                                <i ng-class="['fa', {'fa-bolt': data.SwitchStatus === 1}, {'fa-warning': data.SwitchStatus === 2}]"></i>
                                <span class="sr-only">通道状态</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li role="menuitem"><a href ng-click="setSwitchStatus(outerIndex, 1);"><i class="fa fa-bolt"></i> 运行状态</a></li>
                                <li role="menuitem"><a href ng-click="setSwitchStatus(outerIndex, 2);"><i class="fa fa-warning"></i> 故障状态</a></li>
                            </ul>
                        </div>

                    </div>
                </td>
                <td>
                    <ui-select ng-model="data.Func"
                               theme="bootstrap" ng-disabled="!data.Parameter||!data.Parameter.Name"
                               ng-change="fCodeChange1(data.Func,outerIndex,1)"
                               style="width: 100%;">
                        <ui-select-match placeholder="{{data.Func.Name||'默认(未配置)'}}">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="fCode.Id as fCode in fcode2 | filter: $select.search">
                            {{fCode.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <input type="number" ng-model="data.Modbus" placeholder="默认（未配置）"
                           ng-disabled="!data.Parameter||!data.Parameter.Name"
                           uib-tooltip-template="'modbusTips2.html'" class="form-control">
                </td>
                <td>
                    <input type="number" ng-model="data.BitAddress" placeholder="默认（未配置）"
                           ng-disabled="!data.Parameter||!data.Parameter.Name"
                           uib-tooltip-template="'bitAddressTips.html'" class="form-control">
                </td>
                <td>
                    <button type="button" ng-click="removeSwitch($index);" ng-if="$index>=2" class="btn red btn-sm btn-outline btn-circle">
                        <i class="fa fa-minus" style="font-size: 12px;"></i>
                    </button>
                </td>
            </tr>


            </tbody>
        </table>
        <button type="button"
                ng-show="switchList.length < 48 "
                ng-click="addSwitch();"
                class="btn green"
                style="width: 100%;">
            <i class="fa fa-plus-circle"></i>
            新增开关通道
        </button>
    </div>


    <!--状态通道-->
    <div class="conf_confirm">
        <table class="table table-striped table-hover table-bordered ">
            <h4>状态通道</h4>
            <thead>
            <tr>
                <th>通道</th>
                <th>参数名称</th>
                <th>功能码</th>
                <th>高低字节</th>
                <th>MODBUS地址</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in rangeList" ng-init="outerIndex= $index;">
                <td width="10%"
                    style="color: #555; text-align: center; border: 1px solid #ccc; ">
                    通道
                    <input type="number" ng-model="data.ChannelNumber"
                           style="display: inline-block; width: 50%;" class="form-control"
                           uib-tooltip="状态通道最大12">
                </td>
                <td width="40%">
                    <div class="btn-group" style="width: 100%;">
                        <div class="dropdown-group" uib-dropdown style="width: 10%;">
                            <button type="button" uib-dropdown-toggle
                                    ng-disabled="!data.Parameter || !data.Parameter.Name || data.Status === -1"
                                    ng-class="['btn', 'btn-cell', {'default': data.Status === 0}, {'green': data.Status === 1}, {'red': data.Status === 2}]">
                                <i ng-class="['fa', {'fa-ellipsis-h': data.Status === 0}, {'fa-eye': data.Status === 1}, {'fa-eye-slash': data.Status === 2}]"></i>
                                <span ng-show="data.Status === 1">{{ data.SequenceNumber }}</span>
                                <span class="sr-only">通道状态</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li class="dropdown-submenu">
                                    <a href><i class="fa fa-eye"></i> 关注</a>
                                    <ul class="dropdown-menu" style="min-width: 44px;">
                                        <li ng-repeat="priority in priorities" ng-if="$index<12">
                                            <a href ng-click="setStatus(data, 1, priority)"> {{ priority }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li role="menuitem"><a href ng-click="setStatus(data,2)"><i class="fa fa-eye-slash"></i> 隐藏</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href ng-click="setStatus(data,0)"><i class="fa fa-ellipsis-h"></i> 默认</a></li>
                            </ul>
                        </div>

                        <input type="text" ng-model="data.Parameter.Name" ng-change="dataChanged(data);" style="width: 80%; float: left;" class="form-control" placeholder="未配置">
                        <button type="button"
                                ng-disabled="!data.Parameter || !data.Parameter.Name || data.Status === -1"
                                ng-class="['btn', 'btn-cell', {'default': data.Ranges.length <= 0}, {'blue-sharp': data.Ranges.length > 0}]"
                                ng-click="openRange(data, outerIndex)"
                                style="width: 10%;">
                            <i ng-class="['fa', {'fa-calendar-plus-o': data.Ranges.length <= 0}, {'fa-calendar-check-o': data.Ranges.length > 0}]"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <ui-select ng-model="data.Func"
                               theme="bootstrap" ng-disabled="!data.Parameter||!data.Parameter.Name"
                               style="width: 100%;">
                        <ui-select-match placeholder="{{data.Func.Name||'默认(未配置)'}}">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="fCode.Id as fCode in fcode1 | filter: $select.search">
                            {{fCode.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <ui-select ng-model="data.Byte"
                               theme="bootstrap" ng-disabled="!data.Parameter||!data.Parameter.Name"
                               style="width: 100%;">
                        <ui-select-match placeholder="{{data.Byte.Name||'默认(未配置)'}}">
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="hlCode.Id as hlCode in hlCodes | filter: $select.search">
                            {{hlCode.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <input type="number" ng-model="data.Modbus" placeholder="默认（未配置）"
                           ng-disabled="!data.Parameter||!data.Parameter.Name"
                           uib-tooltip-template="'modbusTips.html'" class="form-control">
                </td>
                <td>
                    <button type="button" ng-click="removeRange($index);" class="btn red btn-sm btn-outline btn-circle">
                        <i class="fa fa-minus" style="font-size: 12px;"></i>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <button type="button"
                ng-show="rangeList.length < 12 "
                ng-click="addRange();"
                class="btn green"
                style="width: 100%;">
            <i class="fa fa-plus-circle"></i>
            新增状态通道
        </button>
    </div>

    <!--通信参数-->
    <div class="conf_confirm">
        <table class="table table-striped table-hover table-bordered ">
            <h4>通信参数</h4>
            <thead>
            <tr>
                <th>参数类型</th>
                <th>参数配置</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="30%" class="chanel_label">
                    波特率
                </td>
                <td>
                    <ui-select ng-model="infomation.BaudRate"
                               theme="bootstrap"
                               style="width: 100%;">
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in BaudRates | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td width="30%" class="chanel_label">
                    数据位
                </td>
                <td>
                    <ui-select ng-model="infomation.dataBit"
                               theme="bootstrap"
                               style="width: 100%;">
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in dataBits | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td width="30%" class="chanel_label">
                    停止位
                </td>
                <td>
                    <ui-select ng-model="infomation.stopBit"
                               theme="bootstrap"
                               style="width: 100%;">
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in stopBits | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td width="30%" class="chanel_label">
                    校验位
                </td>
                <td>

                    <ui-select ng-model="infomation.checkDigit"
                               theme="bootstrap"
                               style="width: 100%;" required>
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in checkDigits | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td width="30%" class="chanel_label">
                    通信接口地址
                </td>
                <td>
                    <ui-select ng-model="infomation.communiInterface"
                               theme="bootstrap"
                               style="width: 100%;" required>
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in communiInterfaces | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td width="30%" class="chanel_label">
                    从机地址
                </td>
                <td>
                    <ui-select ng-model="infomation.subAdr"
                               theme="bootstrap"
                               style="width: 100%;" required>
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in subAdrs | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr style="height: 20px;"></tr>

            <tr>
                <td width="30%" class="chanel_label">
                    心跳包频率
                </td>
                <td>
                    <ui-select ng-model="infomation.heartbeat"
                               theme="bootstrap"
                               style="width: 100%;" required>
                        <ui-select-match>
                            {{$select.selected.Name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="x in heartbeats | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


    <table class="table table-striped table-hover table-bordered conf_confirm" >
        <tbody>
        <tr>
            <td class="chanel_label" width="30%">
                终端设置密码
            </td>
            <td >
                <input type="password" ng-model="terminalPass" class="form-control">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-info"
            ng-click="templateSave()"
            style="float: left">
        模板另存为
    </button>

    <button type="button" class="btn btn-primary" ng-click="back();">上一步</button>


    <button type="button"
            class="btn ladda-button btn-primary"
            ng-click="ok()">提交</button>

</div>


<script type="text/ng-template" id="modbusTips.html">
    <div>
        <p>
            功能码03对应范围 <b>40001-49999</b>
            <br/>
            功能码04对应范围 <b>30001-39999</b>
        </p>
    </div>
</script>
<script type="text/ng-template" id="modbusTips2.html">
    <div>
        <p>
            功能码01对应范围 <b>00001-09999</b>
            <br/>
            功能码02对应范围 <b>10001-19999</b>
            <br/>
            功能码03对应范围 <b>40001-49999</b>
        </p>
    </div>
</script>
<script type="text/ng-template" id="bitAddressTips.html">
    <div>
        <p>
            功能码01对应位地址 <b>1</b>
            <br/>
            功能码02对应位地址 <b>1</b>
            <br/>
            功能码03对应位地址 <b>1-16</b>
        </p>
    </div>
</script>





