<div class="modal-header">
    <h3 class="modal-title" id="modal-title">维保记录编辑</h3>
</div>
<style type="text/css">
    div.input-group.form-group,
    div.btn-group.form-group{
        padding-left: 15px;
        padding-right: 15px;
    }

    div.form-group.form-selector .control-label {
        width: 15%;
        margin-top: 6px;
    }

    div.form-group.form-selector select {
        width: 85%;
        float: right;
    }

    .ui-select-bootstrap > .ui-select-choices ,
    .ui-select-bootstrap > .ui-select-no-choice {
        max-height: 400px;
    }

</style>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">维保日期</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="$modal.inspectDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                       current-text="今天" clear-text="清除" close-text="关闭" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">维保锅炉</label>
            <ui-select ng-model="$modal.boilerId"
                       ng-disabled="$modal.currentData"
                       theme="bootstrap">
                <ui-select-match placeholder="输入锅炉名称或在列表中选择...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices group-by="'ent'" repeat="boiler.Uid as boiler in $modal.boilers | filter: $select.search">
                    <span ng-bind-html="boiler.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <style type="text/css">
        div.detail-btn {
            width: 235px;
            text-align: center;
            display: block;
        }

        div.detail-btn label {
            display: inline-block;
            background-color: #d5e0ea;
            color: #fff;
            margin: 0 3px;
            width: 75px;
        }

        div.detail-btn label.detail-btn-green:hover {
            background-color: #50ce81;
            color: #fff;
        }

        div.detail-btn label.detail-btn-red:hover {
            background-color: #eb7d7d;
            color: #fff;
        }

        div.detail-btn label.detail-btn-yellow:hover {
            background-color: #f3e777;
            color: #fff;
        }

        div.detail-btn label.active.btn-green {
            background-color: #26ce5c;
            color: #fff;
        }

        div.detail-btn label.active.btn-yellow {
            background-color: #f1d932;
            color: #fff;
        }

        div.detail-btn label.active.btn-red {
            background-color: #eb5d68;
            color: #fff;
        }

        div.detail-btn label.btn-max {
            width: 95px;
        }

        div.detail_button {
            margin-left: -15px;
            margin-right: -15px;
        }

        /*div.col-md-4 col-sm-6 col-xs-12{*/
        /*box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*-webkit-box-sizing: border-box;*/
        /*width: 50%;*/
        /*float: left;*/
        /*margin-bottom:10px;*/
        /*display: block;*/
        /*}*/

        @font-face {
            font-family: "info";
        url("../assets/plugins/revo-slider/fonts/fontawesome-webfont.woff") format("woff"),
        url("../assets/plugins/revo-slider/fonts/fontawesome-webfont.ttf") format("truetype"), font-weight: normal;
            font-style: normal;

        }

    </style>

    <div class="detail_button" ng-show="$modal.detailindex == 1">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">燃烧器冷却水温度是否过高</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[0]"
                       class="btn btn-md c-btn-square c-btn-bold btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.burner[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty"
                       ng-model="$modal.maintainDetail.burner[0]">
                    <input type="radio" class="toggle">过低
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">过高
                </label>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">燃烧器炉膛耐火砖是否有脱落</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无脱落
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有脱落
                </label>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">燃烧器火口是否有变形</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无变形
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有变形
                </label>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">进料蛟龙运转是否有异响</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无异响
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有异响
                </label>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">鼓风机转动是否有异响</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无异响
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有异响
                </label>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">风料连锁控制情况是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">燃烧器差压传感器是否稳定</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.burner[6]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">很稳定
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.burner[6]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">不稳定
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 2">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">斗提机运转是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched detail-detail-btn-green btn-green ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched detail-detail-btn-red btn-red ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">星型给料器给料情况是否匹配</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[1]"
                       class="btn btn-md c-btn-square c-btn-bold btn-green detail-detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">匹配
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid detail-detail-btn-red btn-red ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">炉排运转数度调节是否与负荷匹配</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">匹配
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty ">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">炉排漏料是否过多</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty ">
                    <input type="radio" class="toggle">过多
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">燃料燃尽与炉排速度匹配度</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">匹配
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">风门是否可开合</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">易开合
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">难开合
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">风门开合与燃烧是否最优</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.importGrate[6]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">最优
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.importGrate[6]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">良好
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.importGrate[6]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">最差
                </label>
            </div>
        </div>

    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 3">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">对软化水器进行定期的排污</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterSoftener[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active btn-max">
                    <input type="radio" class="toggle">有定期排污
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterSoftener[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty btn-max"">
                <input type="radio" class="toggle">无定期排污
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">对软化水器灵敏度的检查</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterSoftener[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">灵敏
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterSoftener[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.waterSoftener[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">迟钝
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">软水箱中的水硬度超标</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterSoftener[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterSoftener[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">超标
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 4">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">检查泵体是否完好</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterPump[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">完好
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterPump[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                    <input type="radio" class="toggle">锈蚀
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.waterPump[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">锈蚀
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">检查水泵水流方向指示是否明确清晰</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterPump[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">清晰
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterPump[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                    <input type="radio" class="toggle">可辨别
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.waterPump[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">难辨别
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">检查水泵有无渗漏情况</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterPump[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无渗漏
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterPump[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有渗漏
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">对水泵补充润滑油，若油变色、变质、有杂志应及时更换。</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.waterPump[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.waterPump[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                    <input type="radio" class="toggle">已补充
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.waterPump[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                    <input type="radio" class="toggle">已更换
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 5">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">水位计1是否可清楚辨认</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">可辨认
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">难辨认
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">水位计2是否稳定显示</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">稳定
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">不稳定
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">压力开关是否稳定</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">稳点
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">不稳定
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">排污阀是否锈蚀</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无锈蚀
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[3]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有锈蚀
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">安全阀是否有漏气现象</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无漏气
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[4]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有漏气
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">锅炉压力传感器是否稳定</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.boilerBody[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">稳定
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.boilerBody[5]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">不稳定
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 6">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">节能器前后烟温表是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.energySaver[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.energySaver[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">节能器前后水温表是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.energySaver[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.energySaver[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">异常
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">节能器是否密封严密</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.energySaver[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">严密
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.energySaver[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">漏风
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 7">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">前后烟温表是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.airPreHeater[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.airPreHeater[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">高温
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">节能器前后水温表是否正常</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.airPreHeater[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.airPreHeater[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">高温
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">节能器是否密封严密</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.airPreHeater[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">严密
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.airPreHeater[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">漏风
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 8">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">密封性是否良好</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.dustCatcher[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">严密
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.dustCatcher[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">漏风
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">设备前后压差值是否过高</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.dustCatcher[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.dustCatcher[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-yellow btn-yellow ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">过低
                </label>
                <label uib-btn-radio="2" ng-model="$modal.maintainDetail.dustCatcher[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">过高
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">排气电池阀是否完好</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.dustCatcher[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">完好
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.dustCatcher[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有损坏
                </label>
            </div>
        </div>
    </div>

    <div class="detail_button" ng-show="$modal.detailindex == 9">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">引风机异响情况</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.draughtFan[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">无异响
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.draughtFan[0]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">有异响
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">引风机出力较前是否下降</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.draughtFan[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">正常
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.draughtFan[1]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">下降
                </label>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label">应风机冷却水是否合格</label>
            <div class="btn-group btn-group-divided detail-btn">
                <label uib-btn-radio="0" ng-model="$modal.maintainDetail.draughtFan[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-green btn-green ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse active">
                    <input type="radio" class="toggle">合格
                </label>
                <label uib-btn-radio="1" ng-model="$modal.maintainDetail.draughtFan[2]"
                       class="btn btn-md c-btn-square c-btn-bold detail-btn-red btn-red ng-untouched ng-valid ng-not-empty ng-dirty">
                    <input type="radio" class="toggle">不合格
                </label>
            </div>
        </div>
    </div>
    <div class="dataTables_paginate paging_full_numbers" id="terminal_table_paginate">
        <ul class="pagination">
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 1}">
                <a href ng-click="$modal.setIndex(1)">燃烧器</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 2}">
                <a href ng-click="$modal.setIndex(2)">进料及炉排</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 3}">
                <a href ng-click="$modal.setIndex(3)">软水器</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 4}">
                <a href ng-click="$modal.setIndex(4)">水泵</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 5}">
                <a href ng-click="$modal.setIndex(5)">锅炉本体</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 6}">
                <a href ng-click="$modal.setIndex(6)">节能器</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 7}">
                <a href ng-click="$modal.setIndex(7)">空预器</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 8}">
                <a href ng-click="$modal.setIndex(8)">除尘器</a>
            </li>
            <li class="paginate_button" ng-class="{'active': $modal.detailindex === 9}">
                <a href ng-click="$modal.setIndex(9)">引风机</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label>记录摘要：</label>
            <textarea ng-model="$modal.content" class="form-control ng-pristine ng-valid ng-touched" placeholder="记录摘要">
                </textarea>
        </div>
    </div>
    <!--<div class="form-group col-md-12">-->
    <!--<label>现场附件：</label>-->
    <!--<textarea ng-model="$modal.attachment" class="form-control ng-pristine ng-valid ng-touched" placeholder="记录摘要">-->
    <!--</textarea>-->
    <!--</div>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary ladda-button" data-style="zoom-out" type="button" id="boiler_ok"
            ng-disabled="!$modal.boilerId"
            ng-click="$modal.ok()"><span class="ladda-label">提交</span></button>
    <button class="btn btn-default" type="button" ng-click="$modal.cancel()">取消</button>
</div>