<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $modal.title }}</h3>
</div>
<style type="text/css">
    div.input-group.form-group,
    div.btn-group.form-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.form-group.form-selector .control-label {
        width: 26%;
        margin-top: 6px;
        text-align: center;
    }

    div.form-group.form-selector select {
        width: 74%;
        float: right;
    }

    .form-location .form-group {
        padding-left: 0;
        padding-right: 0;
    }

</style>
<div class="modal-body" id="modal-body">
    <!--{{ $modal.org }}-->
    <div class="row">
        <div class="form-group col-md-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <!--<i class="fa fa-fire font-blue-steel"></i>-->
                    企业名称
                </span>
                <input type="text" ng-model="$modal.name"
                       ng-disabled="!$modal.editing"
                       class="form-control ng-pristine ng-valid ng-touched has-success"
                       placeholder="输入名称">
            </div>
        </div>
        <div class="form-group col-md-6">
            <select ng-model="$modal.typeId"
                    ng-options="type.id as type.name for type in orgTypes"
                    ng-disabled="!$modal.editing"
                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched">

            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <div class="input-group">
                <span class="input-group-addon">企业地址</span>
                <input type="text" ng-model="$modal.address"
                       ng-disabled="currentUser.Role.RoleId > 10"
                       class="form-control ng-pristine ng-valid ng-touched has-success"
                       placeholder="输入地址详情">
            </div>
        </div>
        <div class="form-location col-md-6 col-sm-6">
            <div class="form-group col-md-4 col-sm-4">
                <select ng-model="$modal.aProvince"
                        ng-options="prov.Name for prov in locations"
                        ng-change="$modal.changeProvince();"
                        ng-disabled="currentUser.Role.RoleId > 10"
                        class="form-control">
                </select>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <select ng-model="$modal.aCity"
                        ng-options="city.Name for city in $modal.aProvince.cities"
                        ng-change="$modal.changeCity();"
                        ng-disabled="currentUser.Role.RoleId > 10 || $modal.aProvince.LocationId == 0"
                        class="form-control">
                </select>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <select ng-model="$modal.aRegion"
                        ng-options="region.Name for region in $modal.aCity.regions"
                        ng-change="$modal.changeRegion();"
                        ng-disabled="currentUser.Role.RoleId > 10 || !$modal.aCity || $modal.aCity.LocationId == 0"
                        class="form-control">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--TODO: Temp User-->
    <button class="btn btn-primary ladda-button" data-style="zoom-out" type="button" ng-show="$modal.editing || currentUser.Role.RoleId <= 10"
            id="boiler_ok" ng-click="$modal.ok()"><span class="ladda-label">保存</span></button>
    <button class="btn btn-default" type="button" ng-click="$modal.cancel()">取消</button>
</div>
