<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">账户设置</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">个人信息</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">修改头像</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">修改密码</a>
                    </li>

                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">登录账户</label>
                                <input type="text" placeholder="Login Name" ng-model="profile.aUsername" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label class="control-label">用户名称</label>
                                <input type="text" placeholder="Full Name" ng-model="profile.aName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">手机号</label>
                                <input type="text" placeholder="+86 130 0000 0000" ng-model="profile.aMobile" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">邮箱地址</label>
                                <input type="email" placeholder="act@temp.com" ng-model="profile.aEmail" class="form-control" />
                            </div>
                            <div class="margiv-top-10 " style="overflow: hidden">
                                <a href ng-click="profile.updateUser()" class="btn green-haze pull-right"> 保存更新 </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane row" id="tab_1_2">
                        <div class="col-md-6">

                            <p> 说明：
                                <br/>请选择您要添加的头像文件，文件格式请用jpg、png或gif，文件大小不超过2M。
                                <br/>最佳适配 128*128到256*256 方形图片作为头像。</p>
                            <div class="clearfix margin-top-10">
                                <span class="" style="color: red"> 注意  </span><br/>
                                <span class="" style="color: red">请用最新的 Firefox, Chrome, Opera, Safari 或者 Internet Explorer 10+ 来进行用户头像上传的操作。 </span>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 80px">
                            <form action="#" role="form">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">

                                        <div class="thumbnail" style="width: 212px; height: 162px; padding: 5px;">
                                            <img ngf-thumbnail="profile.avatar || 'images/no_image.png'" style="max-width: 200px; max-height: 150px;">
                                        </div>

                                        <div>
                                            <button class="btn default btn-file"
                                                    ngf-select
                                                    ng-model="profile.avatar"
                                                    ng-change="profile.avatarChanged();"
                                                    name="file" ngf-pattern="'image/*'"
                                                    ngf-accept="'image/*'"
                                                    ngf-max-size="2MB" ngf-min-height="100"
                                                    ngf-resize="{width: 400, height: 400}">
                                                选择头像图片...
                                            </button>
                                            <a href
                                               ng-disabled="!profile.avatar"
                                               ng-click="profile.uploadAvatar();"
                                               ng-class="['btn', {'green-haze': !!profile.avatar}, {'grey': !profile.avatar}]"> 上传头像 </a>
                                            <!--<a href class="btn default"> 取消 </a>-->
                                           <!-- <a href class="btn default"
                                               ng-show="!!profile.avatar"
                                               ng-click="profile.removeAvatar();"
                                               data-dismiss="fileinput"> 移除 </a>-->
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="margin-top-10">

                                </div>-->
                            </form>
                        </div>

                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">当前密码</label>
                                <input type="password" class="form-control" ng-model="profile.password" /> </div>
                            <div class="form-group">
                                <label class="control-label">新密码</label>
                                <input type="password" class="form-control" ng-model="profile.password_new" /> </div>
                            <div class="form-group">
                                <label class="control-label">重新输入新密码</label>
                                <input type="password" class="form-control" ng-model="profile.password_new_confirm"/> </div>
                            <div class="margin-top-10 clearfix">
                                <a href ng-click="profile.updateUserPassword()" ng-disabled="profile.password.length <= 0 || profile.password_new.length < 0 || profile.password_new != profile.password_new_confirm" class="btn green-haze pull-right"> 修改密码 </a>
                                <!--<a href ng-click="profile.resetUserPassword()" class="btn default"> 取消 </a>-->
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form action="#">
                            <table class="table table-light table-hover">
                                <tr>
                                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" /> Yes </label>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                            </table>
                            <!--end profile-settings-->
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> 保存更改 </a>
                                <a href="#" class="btn default"> 取消 </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
        </div>
    </div>
</div>