<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

https://open.weixin.qq.com/connect/qrconnect?appid=wx9bf9041710b5e5b6&redirect_uri=http%3A%2F%2Fwww.lucidcube.info%2Fadmin%2F&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect

http://www.lucidcube.info/?code=031GYnRY0sTQUZ13AWOY0hZyRY0GYnRN&state=3d6be0a4035d839573b04816624a415e

https://api.weixin.qq.com/sns/oauth2/access_token?appid=APPID&secret=SECRET&code=CODE&grant_type=authorization_code


